#   Copyright 2019-2021 Gavin Wood
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# The host which contains a database to be copied and the canonical head-nodes list.
HEAD_HOST=headhost.my-domain.com

# The pubkey of the Head Host.
HEAD_HOST_PUBKEY="ssh-rsa SOME_KEY_HERE polkadot@$HEAD_HOST"

# An associative variable declaring all stash accounts for each validator node,
# indexed by the validator host name and the node index (starting at 1) on it.
STASH[headhost_1]=12jknufHGEGregrojgeiogrei458rtoypoejg3mbeogreo5g
STASH[headhost_2]=12ZXC1kNnpvUPgY4FA1AsKuUv9F613tQwgZshvaibw1z4AcD
STASH[otherhost_1]=14JGqoxTtj7FGiuqWhh6nQjz4V16jXx4vBpwL5u9CZuByRgZ
