# Example host configuration file.

# The user-readable name of this host.
NAME="My host name"

# The hostname of this host (this should be used for the DNS entry).
HOST=my-host

# The domain name of the network. The host should be reachable at $HOST.$DOMAIN.
DOMAIN=my-domain.com

# If set, then the number of Polkadot node instances to be deployed on this host. If
# left unset, then there will be just one instance on the host.
#INSTANCES=4

# Whether to only connect to reserved nodes. At least one of your hosts should be configured with
# this unset.
#RESERVED_ONLY=1

# Number of peers to try to find, either through incoming connections or outgoing connections.
#IN_PEERS=25
#OUT_PEERS=25

# Set to the number of blocks of history if the node should do state pruning. If unset, then no
# pruning is done (and the state database will grow indefinitely).
PRUNING=1024

# Whether your nodes should run as validators. Leave unset for non-validating full nodes.
#VALIDATOR=1

# A custom telemetry server, if set.
#TELEMETRY=ws://telemetry.my-domain.com:8000/submit

# If set during setup, then this opens RPC ports on the host so that PANIC_HOST can connect to
# the nodes' RPC.
#PANIC_HOST="panic.my-domain.com"

# Any further options.
#OPTIONS="--rpc-cors=all --unsafe-ws-external"

# The custom database to use, if any.
#DB=paritydb-experimental

# Whether to set up Prometheus and Grafana on the host.
#USE_PROMETHEUS=1
#USE_GRAFANA=1